body{
    background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/139/153/original/1000103833.jpg?1723640131);
    background-size: cover;
    background-repeat: no-repeat;
 
}

.weather-app {
    background-color: rgba(34, 34, 34, 0.432);
    padding: 35px;
    border-radius: 20px;
    box-shadow: 0 30px 50px rgba(65,50,100,0.08);
    max-width: 60%;
    display: block;
    margin: 0 auto;
    margin-top: 50px;
/* 
background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/139/178/original/1000103906.jpg?1723650120); */
/* background-blend-mode: multiply; */
/* background-repeat: no-repeat;
background-size: cover; */


}
header{
    border-bottom: 1px solid #f9f7fe;
    padding-bottom: 15px;
    color: rgb(255, 255, 255);
    text-align: center;
}
footer{
    border-top: 1px solid #f9f7fe;
   color: rgba(17, 17, 17, 0.651);
    font-size: 13px;
    font-family: monospace;
    text-align: center;
    display: block;
    margin: 0 auto ;
    /* margin-top: 255px;   */
    padding: 15px;
    width: 80%;
    
}
.search-input{
    padding: 7.5px;
    border-radius: 6px;
    background-color: #f9f7fe;
    border: rgba(39,33,66,0.4);
    font-size: 16px;
    width: 60%;


}
.search-button{
     padding: 7px ;
    border-radius: 6px;
    font-size: 16px;
    color: white;
    background-color:#2C5B6B;
    border: rgba(39,33,66,0.4);
    line-height: 1;
} 
main{
    padding: 30px 0;
}
a{
    color: #000000;
    font-weight: 800;
}
.current-weather-data{
    display: flex;
    justify-content: space-between; 
   
    

}
.city-info{
    color: white;
     margin: 0;
     line-height: 20px;

}
.current-city{
   font-family: Matemasie, sans-serif;
   font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 30px; 
    
 }

 .current-temperature{
    color: white;
    font-family: Matemasie, sans-serif;
    display: flex;
   
 } 
 .current-temperature-icon{
    width: 80px;
    height: 90px;
 }
 .current-temperature-value{
    font-size: 70px;
    line-height: 80px;
    font-weight: bold;
 }
 .current-temperature-unit{
     font-size:25px;
     margin-top: 6px;
}
 .current-date, strong{
    color:#94bcf8;

 }
.weather-forecast{
    color: white;
    font-family:  Matemasie, sans-serif;
    display: flex;
    justify-content: space-around;

}      
.forecast-day{
    padding: 8px;

}
.forecast-icon{
    padding: 8PX;
    font-size: 25px;;
}
.forecast-temperatures{
padding: 8px;
font-family: 'Courier New', Courier, monospace;
}