body{
    background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/139/153/original/1000103833.jpg?1723640131);
    background-size: cover;
    background-repeat: no-repeat;
 
}

.weather-app {
/* 
background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/139/178/original/1000103906.jpg?1723650120); */
background-blend-mode: multiply;
background-color: rgba(34, 34, 34, 0.432);
background-repeat: no-repeat;
background-size: cover;

    /* background-color: rgba(255,255,255,0.8); */
    margin: 60px 60px;
    padding: 35px 60px;
    border-radius: 20px;
    box-shadow: 0 30px 50px rgba(65,50,100,0.08);

}
header{
    border-bottom: 1px solid #f9f7fe;
    padding-bottom: 15px;
    color: rgb(255, 255, 255);
    text-align: center;
}
footer{
   color: rgba(17, 17, 17, 0.651);
    font-size: 13px;
    font-family: monospace;
    padding: 15px;
    text-align: center;
    margin: 100px;
}
.search-input{
    padding: 7.5px;
    border-radius: 6px;
    background-color: #f9f7fe;
    border: rgba(39,33,66,0.4);
    font-size: 16px;
    width: 60%;


}
.search-button{
     padding: 7px ;
    border-radius: 6px;
    font-size: 16px;
    color: white;
    background-color:#2C5B6B;
    border: rgba(39,33,66,0.4);
    line-height: 1;
}
main{
    padding: 30px 0;
}
a{
    color: #000000;
    font-weight: 800;
}
.current-weather-data{
    display: flex;
    justify-content: space-between;

}
.city-info{
    color: white;
    margin-left: -30px;

}
.current-city{
   font-family: Matemasie, sans-serif;
   font-weight: 400;
    font-style: normal;
    color: white;
    margin-top:-15px;
    font-size: 30px;
    
 }
 .current-temperature{
    color: white;
    font-size: 40px;
    font-family: Matemasie, sans-serif;
    margin-right: 0;
    position: relative;
  
 } 
 .current-temperature-icon{
    font-size: 28px;
    margin: 10px 0;
    position: absolute;
    top: 2px;
    right: 100%;
 }
 .current-temperature-unit{
    font-size:25px;
    position: absolute;
    top: 2.5px;
/* left: 100%; */
}
 .current-date, strong{
    color:#94bcf8;

 }
      

